.manual--item {
  padding: 30px;
  background: #f4f6f5;
  margin: 0 0 10px;
}
.manual--item > h2 {
  cursor: pointer;
  margin: 0;
}
.manual--item > h2 > span.darr {
  float: right;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  transition: all 200ms ease;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}
.manual--item > h2.open > span.darr {
  -ms-transform: rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
  transform: rotate(180deg);
}
.manual--item > .content {
  display: none;
  padding-top: 30px;
}